## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

repo gitolite-admin
   RW+	=	id_rsa

repo mys
   RW+	=	ahtapotops

repo gdysapi
   RW+	=	ahtapotops
